/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject/private/
/config/database.php

#We need the next following lines to track Model file, which inherit all models
!/vendor/
/vendor/*
!/vendor/laravel/
/vendor/laravel/*
!/vendor/laravel/framework/
/vendor/laravel/framework/*
!/vendor/laravel/framework/src/
/vendor/laravel/framework/src/*
!/vendor/laravel/framework/src/Illuminate/
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Database/
/vendor/laravel/framework/src/Illuminate/Database/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent/
/vendor/laravel/framework/src/Illuminate/Database/Eloquent/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php