/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2018, 11:42:17 AM
    Author     : Ivan
*/

/*Admin Panel Wrap styles*/

.admin-panel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: orange;*/
    background-color: #f5f5f5;
}

/*--------------------------------------------------------*/

/*Admin Panel Main Header styles*/

.admin-panel-wrapper .admin-panel-header {
    display: flex;
    flex-direction: column;
    /*background-color: blue;*/
    background-color: #e3e3e3;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title {
    display: flex;
    flex-direction: column;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select {
    text-align: right;
    padding-top: 5px;
    padding-right: 5%;
    padding-left: 5%;
    /*We need min-width for mobile devices to make web-site look like properly*/
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    min-height: 40px;
    /*background-color: green;*/
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select div {
    margin-right: 15px;
    margin-top: 5px;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select .admin-panel-laguage-select-button-pressed {
    font-weight: bold;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select a:hover {
    color: blue;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select .admin-panel-laguage-select-button-pressed:hover {
    color: black; 
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-language-select-button-separator {
    font-weight: bold;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-title {
    color: black;
    /*We need min-width for mobile devices to make web-site look like properly*/
    min-width: 200px;
    text-align: center;
    min-height: 60px;
    line-height: 1.5;
    padding-right: 5%;
    padding-left: 5%;
    /*background-color: blueviolet;*/
}

.admin-panel-wrapper .admin-panel-header .admin-panel-language-and-title .admin-panel-title h1 {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: italic;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-width: 200px;
    padding-right: 5%;
    padding-left: 5%;
    min-height: 45px;
    /*background-color: red;*/
}

.admin-panel-wrapper .admin-panel-header .admin-panel-menu .admin-panel-menu-link {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-menu .admin-panel-menu-link:hover {
    color: blue;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-menu .admin-panel-menu-link-pressed {
    font-weight: bold;
    font-size: 19px;
}

.admin-panel-wrapper .admin-panel-header .admin-panel-menu .admin-panel-menu-link-pressed:hover {
    color: black;
}

/*--------------------------------------------------------*/

/*Admin Panel Main part*/

main {
    display: flex;
    /*justify-content: center;
    align-items: flex-start;*/
    flex-direction: column;
    min-width: 200px;
    min-height: 675px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*background-color: grey;*/
}

.admin-panel-wrapper .admin-panel-main-path-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -15px;
    margin-bottom: 15px;
    /*background-color: olive;*/
}

.admin-panel-wrapper .admin-panel-main-path {
    padding: 10px;
    max-width: 700px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 10px;
    /*background-color: #009998;*/
    /*background-color: #d4d4d4;*/
    background-color: #e3e3e3;
}

.admin-panel-wrapper .admin-panel-main-article-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*background-color: olivedrab;*/
}

.admin-panel-wrapper .admin-panel-main-article {
    padding: 40px;
    padding-top: 30px;
    padding-top: 30px;
    width: 700px;
    min-height: 600px;
    border-radius: 10px;
    /*background-color: #0d95e8;*/
    /*background-color: #d4d4d4;*/
    background-color: #dedede;
}

/*--------------------------------------------------------*/

/*Admin Panel Main Home part*/

.admin-panel-wrapper .admin-panel-home-article {
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
}

/*--------------------------------------------------------*/

/*Admin Panel Articles part*/

.admin-panel-main-article .admin-panel-add-article-folder-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.admin-panel-main-article .admin-panel-add-article-folder-wrapper button:hover {
    font-weight: bold;
}

.admin-panel-main-article .admin-panel-add-article-folder-wrapper button:first-child {
    margin-right: 5px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper {
    min-height: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item {
    display: flex;
    justify-content: space-between;
    min-height: 26px;
    background-color: #cccccc;
    padding-left: 5px;
    padding-right: 5px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-title {
    max-width: 400px;
    background-color: pink;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item:hover {
    filter: brightness(0.95);
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item:hover .admin-panel-folder-title {
    font-weight: bold;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item:not(:last-child) {
    margin-bottom: 5px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-title {
    font-size: 15px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons-wrapper .admin-panel-folder-buttons {
    display: flex;
    justify-content: space-between;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons-wrapper .admin-panel-folder-buttons button {
    max-height: 26px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons button:first-child {
    margin-left: 10px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons-wrapper .admin-panel-folder-buttons button:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.admin-panel-main-article .admin-panel-external-article-folders-wrapper .admin-panel-article-folders-wrapper 
.admin-panel-folder-item .admin-panel-folder-buttons-wrapper .admin-panel-folder-buttons button:hover {
    font-weight: bold;
}

/*--------------------------------------------------------*/

/*Footer part*/

.admin-panel-wrapper .admin-panel-footer {
    min-height: 100px;
    padding-top: 25px;
    padding-left: 5%;
    font-size: 14px;
    /*font-family: "Georgia", "Verdana", "Arial";*/
    font-style: italic;
    /*background-color: brown;*/
    background-color: #e3e3e3;
}

/*--------------------------------------------------------*/

/*Universal admin-panel-paginator*/
/*this can be applied to all admin-panel-paginators*/

.admin-panel-main-article .admin-panel-paginator {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.admin-panel-main-article .admin-panel-paginator a,
.admin-panel-main-article .admin-panel-paginator span {
    display: inline-block;  
    text-decoration: none;
}

.admin-panel-main-article .admin-panel-paginator .previous-inactive,
.admin-panel-main-article .admin-panel-paginator .previous-active {
    margin-right: 5px;
}

.admin-panel-main-article .admin-panel-paginator .next-inactive,
.admin-panel-main-article .admin-panel-paginator .next-active {
    margin-left: 5px;
}

.admin-panel-main-article .admin-panel-paginator .previous-inactive,
.admin-panel-main-article .admin-panel-paginator .previous-active,
.admin-panel-main-article .admin-panel-paginator .next-inactive,
.admin-panel-main-article .admin-panel-paginator .next-active {
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.admin-panel-main-article .admin-panel-paginator .previous-inactive {
    border-right-color: grey;  
    border-left: 0;
}

.admin-panel-main-article .admin-panel-paginator .previous-active {
    border-right-color: steelblue;  
    border-left: 0;
}

.admin-panel-main-article .admin-panel-paginator .next-inactive {
    border-left-color: grey;  
    border-right: 0;
}

.admin-panel-main-article .admin-panel-paginator .next-active {
    border-left-color: steelblue;  
    border-right: 0;
}

.admin-panel-main-article .admin-panel-paginator .pagination-info {
    padding: 0 10px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    font-family: "Arial";
    font-size: 16px;
}

.admin-panel-main-article .admin-panel-paginator .first-inactive,
.admin-panel-main-article .admin-panel-paginator .first-active {
    margin-right: 10px;
}

.admin-panel-main-article .admin-panel-paginator .last-inactive,
.admin-panel-main-article .admin-panel-paginator .last-active {
    margin-left: 10px;
}

.admin-panel-main-article .admin-panel-paginator .first-inactive,
.admin-panel-main-article .admin-panel-paginator .first-active,
.admin-panel-main-article .admin-panel-paginator .last-inactive,
.admin-panel-main-article .admin-panel-paginator .last-active {
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.admin-panel-main-article .admin-panel-paginator .first-inactive {
    border-right-color: grey;  
    border-left: 0;
    box-shadow: -3px 0 0 0 grey;
}

.admin-panel-main-article .admin-panel-paginator .first-active {
    border-right-color: #0000cc;  
    border-left: 0;
    box-shadow: -3px 0 0 0 #0000cc;
}

.admin-panel-main-article .admin-panel-paginator .last-inactive {
    border-left-color: grey;  
    border-right: 0;
    box-shadow: 3px 0 0 0 grey;
}

.admin-panel-main-article .admin-panel-paginator .last-active {
    border-left-color: #0000cc;  
    border-right: 0;
    box-shadow: 3px 0 0 0 #0000cc;
}

/*Universal admin-panel-paginator for mobile devices.*/

@media (max-width: 500px) {    
    .admin-panel-main-article .admin-panel-paginator .first-inactive,
    .admin-panel-main-article .admin-panel-paginator .first-active,
    .admin-panel-main-article .admin-panel-paginator .last-inactive,
    .admin-panel-main-article .admin-panel-paginator .last-active,
    .admin-panel-main-article .admin-panel-paginator .previous-inactive,
    .admin-panel-main-article .admin-panel-paginator .previous-active,
    .admin-panel-main-article .admin-panel-paginator .next-inactive,
    .admin-panel-main-article .admin-panel-paginator .next-active {
        transform: scale(0.9);
    }
    
    .admin-panel-main-article .admin-panel-paginator .pagination-info {
        font-size: 15px;
    }
}

@media (max-width: 300px) {   
    .admin-panel-main-article .admin-panel-paginator .first-inactive,
    .admin-panel-main-article .admin-panel-paginator .first-active,
    .admin-panel-main-article .admin-panel-paginator .last-inactive,
    .admin-panel-main-article .admin-panel-paginator .last-active,
    .admin-panel-main-article .admin-panel-paginator .previous-inactive,
    .admin-panel-main-article .admin-panel-paginator .previous-active,
    .admin-panel-main-article .admin-panel-paginator .next-inactive,
    .admin-panel-main-article .admin-panel-paginator .next-active {
        transform: scale(0.8);
    }
    
    .admin-panel-main-article .admin-panel-paginator .pagination-info {
        font-size: 14px;
    }
}

@media (max-width: 280px) {    
    .admin-panel-main-article .admin-panel-paginator .first-inactive,
    .admin-panel-main-article .admin-panel-paginator .first-active,
    .admin-panel-main-article .admin-panel-paginator .last-inactive,
    .admin-panel-main-article .admin-panel-paginator .last-active,
    .admin-panel-main-article .admin-panel-paginator .previous-inactive,
    .admin-panel-main-article .admin-panel-paginator .previous-active,
    .admin-panel-main-article .admin-panel-paginator .next-inactive,
    .admin-panel-main-article .admin-panel-paginator .next-active {
        transform: scale(0.7);
    }
    
    .admin-panel-main-article .admin-panel-paginator .pagination-info {
        padding: 0 0px;
        font-size: 13px;
    }
    
    .admin-panel-main-article .admin-panel-paginator .first-inactive,
    .admin-panel-main-article .admin-panel-paginator .first-active {
        margin-right: 5px;
    }

    .admin-panel-main-article .admin-panel-paginator .last-inactive,
    .admin-panel-main-article .admin-panel-paginator .last-active {
        margin-left: 5px;
    }
}

/*-----------------------------------------*/