/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Jul-2020, 00:40:49
    Author     : Ivan
*/

/*Entity (Album, Picture, Folder, Keyword) create and edit windows*/

/*Window's size is regulated by javascript in admin_panel_javascript file*/

.admin-panel-create-edit-entity {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-regulations {
    margin-bottom: 15px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-regulations span {
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    color: red;
}

.admin-panel-create-edit-entity > div:first-child {
    margin-bottom: 2px;
}

.admin-panel-create-edit-entity > div:nth-child(3) {
    margin-bottom: 10px;
}

.admin-panel-create-edit-entity > div:nth-child(4) {
    margin-bottom: 10px;
}

.admin-panel-create-edit-entity > div:last-child {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-top: 30px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-label {
    font-family: "Arial";
    font-size: 16px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-input {
    width: 280px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-input-parent {
    width: 230px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
}

/*Begining of parent search and drop down for Directory (Album or Folder) create, edit and delete window*/

/*Begigining for parent search*/
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-search-and-drop-down {
    width: 25px;
    height: 28px;
    padding-right: 4px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-search-and-drop-down
.admin-panel-create-edit-entity-controls-button-drop-down-search {
    position: absolute;
    top: 58px;
    left: 269px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-search-and-drop-down:hover
.admin-panel-create-edit-entity-controls-button-drop-down-search {
    filter: brightness(90%);
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list {
    position: absolute;
    top: 80.1px; 
    left: 34.5px;
    width: 280px;
    border: 1px solid grey;
    background-color: white;
    max-height: 330px;
    overflow: auto;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-element {
    border-bottom: 1px solid grey;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-button {
    border: 1px solid grey;
    border-bottom: 2px solid grey;
    background-color: #dedede;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-element a,
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-button a {
    display: block;
    text-decoration: none;
    color: #0d95e8;
    padding-left: 5px;
    padding-top: 3px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-button a {
    text-decoration: underline;
    color: #1a7dd9;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-element a:hover {
    background-color: #0d95e8;
    color: white;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-button a:hover {
    color: red;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-element:last-child {
    border-bottom: 0px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-directory-list .admin-panel-create-edit-entity-directory-list-button:last-child {
    border-bottom: 0px;
    border: 1px solid grey;
}

/*End for parent search*/
/*Begigining for parent drop down*/

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-drop-down {
    width: 24px;
    float: right;
    cursor: pointer;
    height: 28px;
    padding-top: 5px;
    padding-right: 5px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-search-and-drop-down:hover {
    background: #0b7dda;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-drop-down 
.admin-panel-create-edit-entity-controls-button-drop-down-caret {
    position: absolute;
    top: 64px;
    left: 293px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: white transparent transparent transparent;
    transform: scale(0.7, 1.5);
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button-search-and-drop-down:hover
.admin-panel-create-edit-entity-controls-button-drop-down-caret{
    filter: brightness(90%);
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list {
    position: absolute;
    top: 80.1px; 
    left: 34.5px;
    width: 280px;
    border: 1px solid grey;
    background-color: white;
    max-height: 330px;
    overflow: auto;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list-nested {
    background-color: white;
    overflow: auto;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    border: 1px solid #dcdfe3;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list .admin-panel-create-edit-entity-drop-down-list-item {
    display: block;
    user-select: none; /* Prevent text selection */
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list .admin-panel-create-edit-entity-drop-down-list-item-selected {
    background-color: #e3e3e3;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list .admin-panel-create-edit-entity-drop-down-list-item:hover {
    background-color: #e3e3e3;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list .admin-panel-create-edit-entity-drop-down-list-item 
.admin-panel-create-edit-entity-drop-down-list-item-name {
    display: inline-block;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list .admin-panel-create-edit-entity-drop-down-list-item 
.admin-panel-create-edit-entity-drop-down-list-item-name:hover {
    cursor: pointer;
}

/* Style the caret/arrow */
/* Create the caret/arrow with a unicode, and style it */
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-item-caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-item-caret:hover,
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-item-caret-down:hover {
    cursor: pointer;
}

/*For elemnts without a caret we need to create an empty "caret" to even out elements list*/
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-item-empty-caret::before {
    content: "\25B6";
    /*Element made by ::before can't exist without actual caret, so we will make it, 
    but the clor will be transparent.*/
    color: transparent;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-item-caret-down::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-button {
    border: 1px solid grey;
    background-color: #dedede;
    margin-left: -4px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-button a {
    display: block;
    text-decoration: underline;
    color: #1a7dd9;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-drop-down-list 
.admin-panel-create-edit-entity-drop-down-list-button a:hover {
    color: red;
}

/*End for parent drop down*/
/*End of parent search and drop down for Album create, edit and delete window*/

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-browse-picture-button {
    display: block; 
    width: 80px; 
    height: 25px; 
    font-size: 14px; 
    float: left;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-browse-picture-text {
    display: inline-block; 
    margin-left: 10px; 
    margin-top: 3px; 
    font-size: 14px; 
    width: 170px; 
    text-overflow: ellipsis;
}

.admin-panel-albums-create-notification-wrapper {
    position: absolute;
    /*Need to add this z-index, otherwise through these notifications could be visible some
    elements (e.g. arrovs and triangles), whic are supposed to be behind.*/
    z-index: 1;
}

.admin-panel-albums-create-notification-wrapper .admin-panel-albums-create-notification {
    margin-bottom: 0px;
    width: 330px;
}

.admin-panel-create-edit-entity .admin-panel-create-edit-entity-controls 
.admin-panel-create-edit-entity-controls-button {
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    padding: 2px;
}

/*--------------------------------------------------------*/

/*Entity (Album, Picture, Folder, Keyword) delete windows*/

/*Window's size is regulated by javascript in admin_panel_javascript file*/

.admin-panel-delete-entity {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.admin-panel-delete-entity .admin-panel-delete-entity-message h3 {
    font-family: "Arial";
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}

.admin-panel-delete-entity .admin-panel-delete-entity-regulations span {
    font-family: "Arial";
    font-size: 14px;
    font-style: italic;
    color: red;
}

.admin-panel-delete-entity .admin-panel-delete-entity-controls {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-top: 30px;
}

.admin-panel-delete-entity .admin-panel-delete-entity-controls > div:first-child {
    margin-left: 12px;
}

.admin-panel-delete-entity .admin-panel-delete-entity-controls > div:last-child {
    margin-right: 12px;
}

.admin-panel-delete-entity .admin-panel-delete-entity-controls 
.admin-panel-delete-entity-controls-button {
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    padding: 2px;
}

/*--------------------------------------------------------*/